vc-portfolio/n8n-workflows/avaamo-enterprise-agent-v2.json
{
  "name": "Avaamo: Enterprise Agent Platform v2",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    source: 'employee_chat',\n    employee: {\n      name: 'Sarah Chen',\n      id: 'EMP_4821',\n      department: 'Sales',\n      level: 'manager'\n    },\n    request: 'Schedule onboarding for new hire Monday, book conference room B tomorrow 2pm, submit expense report for SF trip',\n    detectedIntents: ['hr_onboarding', 'room_booking', 'expense_submission']\n  }\n}];"
      },
      "name": "Employee Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const req = $input.first().json;\n\nconst skills = {\n  hr_onboarding: { name: 'HR Onboarding Agent', autonomy: 'high' },\n  room_booking: { name: 'Workspace Agent', autonomy: 'high' },\n  expense_submission: { name: 'Finance Agent', autonomy: 'medium' }\n};\n\nconst activatedSkills = req.detectedIntents.map(intent => ({\n  intent, skill: skills[intent]\n}));\n\nreturn [{\n  json: {\n    ...req,\n    activatedSkills,\n    skillsCount: activatedSkills.length\n  }\n}];"
      },
      "name": "Intent Routing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    skill: 'hr_onboarding',\n    actionsCompleted: 4,\n    newHire: 'Alex Johnson',\n    startDate: '2026-03-03'\n  }\n}];"
      },
      "name": "HR Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 100]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    skill: 'room_booking',\n    actionsCompleted: 4,\n    room: 'Conference Room B',\n    time: '2026-02-28 14:00'\n  }\n}];"
      },
      "name": "Workspace Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 250]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    skill: 'expense_submission',\n    actionsCompleted: 3,\n    total: 855,\n    status: 'pending_approval',\n    reportId: 'EXP-2026-8847'\n  }\n}];"
      },
      "name": "Finance Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all().map(item => item.json);\nconst totalActions = results.reduce((sum, r) => sum + r.actionsCompleted, 0);\n\nreturn [{\n  json: {\n    employee: 'Sarah Chen',\n    skillsActivated: results.length,\n    totalActionsCompleted: totalActions,\n    details: results.map(r => r.skill + ': ' + r.actionsCompleted + ' actions')\n  }\n}];"
      },
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "channel": "employee-help",
        "text": "=✅ Multi-Task Completed - {{ $json.employee }}\n\n🎯 {{ $json.skillsActivated }} Agents Activated:\n{{ $json.details.map(d => '• ' + d).join('\\n') }}\n\n📊 Total: {{ $json.totalActionsCompleted }} actions completed",
        "options": {}
      },
      "name": "Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "fromEmail": "avaamo@company.com",
        "toEmail": "manager@company.com",
        "subject": "=Expense Report Pending Approval - $855",
        "text": "=An expense report requires your approval:\n\nEmployee: Sarah Chen\nTotal: $855\nReport ID: EXP-2026-8847\n\nApprove: https://expensify.com/approve/EXP-2026-8847",
        "options": {}
      },
      "name": "Manager Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [[{"node": "Employee Request", "type": "main", "index": 0}]]
    },
    "Employee Request": {
      "main": [[{"node": "Intent Routing", "type": "main", "index": 0}]]
    },
    "Intent Routing": {
      "main": [
        [{"node": "HR Agent", "type": "main", "index": 0}],
        [{"node": "Workspace Agent", "type": "main", "index": 0}],
        [{"node": "Finance Agent", "type": "main", "index": 0}]
      ]
    },
    "HR Agent": {
      "main": [[{"node": "Aggregate", "type": "main", "index": 0}]]
    },
    "Workspace Agent": {
      "main": [[{"node": "Aggregate", "type": "main", "index": 0}]]
    },
    "Finance Agent": {
      "main": [[{"node": "Aggregate", "type": "main", "index": 0}]]
    },
    "Aggregate": {
      "main": [[{"node": "Notify", "type": "main", "index": 0}]]
    },
    "Notify": {
      "main": [[{"node": "Manager Email", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "description": "Avaamo v2: Multi-domain enterprise agent - routes to HR, Workspace, Finance agents"
}