vc-portfolio/n8n-workflows/klearnow-customs-agent.json
{
  "name": "KlearNow.AI: Customs Broker Agent",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    shipmentId: 'SH-KL-2026-001',\n    manifestType: 'ocean_bill_of_lading',\n    pdfUrl: 'https://example.com/manifest.pdf',\n    vessel: 'MAERSK EDINBURGH',\n    voyage: '267E',\n    containerNumber: 'MSKU1234567',\n    arrivalPort: 'Port of Los Angeles',\n    eta: '2026-03-05',\n    shipper: {\n      name: 'Shanghai Electronics Co.',\n      address: '123 Industrial Rd, Shanghai, China'\n    },\n    consignee: {\n      name: 'TechCorp USA',\n      address: '456 Commerce St, Los Angeles, CA 90021',\n      taxId: '12-3456789'\n    },\n    cargo: [\n      {\n        description: 'Electronic Components - Circuit Boards',\n        hsCode: '8534.00.00',\n        quantity: 5000,\n        unit: 'PCS',\n        value: 125000,\n        currency: 'USD',\n        weight: 2500\n      },\n      {\n        description: 'Semiconductor Chips',\n        hsCode: '8542.31.00',\n        quantity: 10000,\n        unit: 'PCS',\n        value: 250000,\n        currency: 'USD',\n        weight: 500\n      }\n    ],\n    totalValue: 375000,\n    totalWeight: 3000,\n    countryOfOrigin: 'CN'\n  }\n}];"
      },
      "name": "PDF Manifest Ingested",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const manifest = $input.first().json;\nconst redFlags = [];\nlet riskScore = 0;\n\n// Check 1: High-value shipment\nif (manifest.totalValue > 250000) {\n  redFlags.push('High value shipment ($' + manifest.totalValue + ')');\n  riskScore += 30;\n}\n\n// Check 2: Electronics from China\nif (manifest.countryOfOrigin === 'CN' && manifest.cargo.some(c => c.description.toLowerCase().includes('electronic'))) {\n  redFlags.push('Electronics from China - requires HTSUS verification');\n  riskScore += 20;\n}\n\n// Check 3: Missing or incomplete data\nif (!manifest.consignee.taxId) {\n  redFlags.push('Missing consignee Tax ID');\n  riskScore += 25;\n}\n\n// Check 4: Suspicious weight/value ratio\nconst valuePerKg = manifest.totalValue / manifest.totalWeight;\nif (valuePerKg > 100) {\n  redFlags.push('High value-to-weight ratio ($' + valuePerKg.toFixed(2) + '/kg)');\n  riskScore += 15;\n}\n\n// Check 5: Semiconductor chips (controlled items)\nif (manifest.cargo.some(c => c.description.toLowerCase().includes('semiconductor') || c.hsCode.startsWith('8542'))) {\n  redFlags.push('Semiconductor chips - possible EAR restrictions');\n  riskScore += 35;\n}\n\n// Check 6: First-time shipper (mock check)\nconst knownShippers = ['Shanghai Electronics Co.', 'Guangzhou Traders Ltd.'];\nif (!knownShippers.includes(manifest.shipper.name)) {\n  redFlags.push('New/unverified shipper');\n  riskScore += 10;\n}\n\nreturn [{\n  json: {\n    ...manifest,\n    extractedData: {\n      entryType: 'Consumption',\n      portOfEntry: manifest.arrivalPort,\n      importerOfRecord: manifest.consignee,\n      suretyBond: 'SINGLE_TRANSACTION'\n    },\n    redFlags,\n    riskScore,\n    requiresHumanReview: riskScore >= 50 || redFlags.length >= 3,\n    autoProcessEligible: riskScore < 30 && redFlags.length === 0\n  }\n}];"
      },
      "name": "Extract Data + Red Flag Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.requiresHumanReview }}",
              "operator": "boolean"
            }
          ]
        }
      },
      "name": "Red Flags Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "channel": "customs-review",
        "text": "=🚨 CUSTOMS ENTRY REQUIRES REVIEW 🚨\n\nShipment: {{ $json.shipmentId }}\nVessel: {{ $json.vessel }} ({{ $json.voyage }})\nContainer: {{ $json.containerNumber }}\nETA: {{ $json.eta }}\n\n💰 Total Value: ${{ $json.totalValue }}\n⚖️ Total Weight: {{ $json.totalWeight }} kg\n📦 Cargo Items: {{ $json.cargo.length }}\n\n🔴 Risk Score: {{ $json.riskScore }}/100\n\n⚠️ Red Flags:\n{{ $json.redFlags.map(flag => '• ' + flag).join('\\n') }}\n\n👉 Review here: https://wasifmo1.app.n8n.cloud/workflow/{{ $json.shipmentId }}\n\nReply APPROVE to file entry | HOLD for further inspection",
        "options": {}
      },
      "name": "Alert Customs Broker",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "fromEmail": "customs@klearnow.ai",
        "toEmail": "broker@company.com",
        "subject": "=🚨 Customs Entry Review Required - {{ $json.shipmentId }}",
        "text": "=A customs entry requires your review:\n\nShipment ID: {{ $json.shipmentId }}\nVessel: {{ $json.vessel }}\nContainer: {{ $json.containerNumber }}\nETA: {{ $json.eta }}\n\nRisk Score: {{ $json.riskScore }}/100\n\nIssues Found:\n{{ $json.redFlags.join('\\n') }}\n\nPlease review in the KlearNow platform and approve or hold for inspection.",
        "options": {}
      },
      "name": "Email Broker",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "projectId": "=CUSTOMS_REVIEW",
        "title": "=Review Required: {{ $json.shipmentId }}",
        "description": "=Risk Score: {{ $json.riskScore }}\n\nRed Flags:\n{{ $json.redFlags.join('\\n') }}\n\nShipper: {{ $json.shipper.name }}\nConsignee: {{ $json.consignee.name }}\nValue: ${{ $json.totalValue }}",
        "labels": ["customs", "review-required"]
      },
      "name": "Create Review Task",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "jsCode": "// Auto-file customs entry for clean shipments\nconst data = $input.first().json;\n\n// Generate CBP Entry Summary (mock)\nconst entryNumber = 'EE-' + Date.now().toString().slice(-8);\n\nreturn [{\n  json: {\n    ...data,\n    customsEntry: {\n      entryNumber: entryNumber,\n      filedAt: new Date().toISOString(),\n      entryType: '01', // Consumption entry\n      portOfEntry: data.arrivalPort,\n      importerNumber: data.consignee.taxId || 'PENDING',\n      bondType: 'Single Transaction',\n      cargo: data.cargo.map(item => ({\n        ...item,\n        dutyRate: 0.025, // 2.5% mock rate\n        estimatedDuty: item.value * 0.025\n      })),\n      totalEstimatedDuty: data.cargo.reduce((sum, item) => sum + (item.value * 0.025), 0),\n      status: 'FILED',\n      paymentDue: 'Within 10 days of arrival'\n    }\n  }\n}];"
      },
      "name": "File Customs Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "channel": "customs-completed",
        "text": "=✅ Customs Entry Filed Automatically\n\nShipment: {{ $json.shipmentId }}\nEntry Number: {{ $json.customsEntry.entryNumber }}\n\nVessel: {{ $json.vessel }}\nContainer: {{ $json.containerNumber }}\nETA: {{ $json.eta }}\n\n💰 Total Value: ${{ $json.totalValue }}\n💵 Est. Duty: ${{ $json.customsEntry.totalEstimatedDuty.toFixed(2) }}\n\n📋 Cargo Items:\n{{ $json.cargo.map(item => '• ' + item.description + ' (' + item.hsCode + ') - $' + item.value).join('\\n') }}\n\nStatus: {{ $json.customsEntry.status }}\nPayment Due: {{ $json.customsEntry.paymentDue }}",
        "options": {}
      },
      "name": "Log Filing",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "fromEmail": "customs@klearnow.ai",
        "toEmail": "consignee@company.com",
        "subject": "=✅ Customs Entry Filed - {{ $json.shipmentId }}",
        "text": "=Dear {{ $json.consignee.name }},\n\nYour customs entry has been filed successfully.\n\nShipment Details:\n• Shipment ID: {{ $json.shipmentId }}\n• Entry Number: {{ $json.customsEntry.entryNumber }}\n• Vessel: {{ $json.vessel }}\n• Container: {{ $json.containerNumber }}\n• ETA: {{ $json.eta }}\n\nFinancial Summary:\n• Total Value: ${{ $json.totalValue }}\n• Estimated Duty: ${{ $json.customsEntry.totalEstimatedDuty.toFixed(2) }}\n\nNext Steps:\n1. Await vessel arrival\n2. Customs inspection (if selected)\n3. Duty payment within 10 days\n4. Cargo release\n\nTrack your shipment: https://klearnow.ai/track/{{ $json.shipmentId }}\n\nBest regards,\nKlearNow.AI Customs Broker Agent",
        "options": {}
      },
      "name": "Notify Consignee",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "projectId": "=CUSTOMS_COMPLETED",
        "title": "=Filed: {{ $json.shipmentId }}",
        "description": "=Entry Number: {{ $json.customsEntry.entryNumber }}\nValue: ${{ $json.totalValue }}\nDuty: ${{ $json.customsEntry.totalEstimatedDuty.toFixed(2) }}\n\nAuto-filed by AI Agent",
        "labels": ["customs", "filed", "auto"]
      },
      "name": "Record in System",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1650, 400]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [[{"node": "PDF Manifest Ingested", "type": "main", "index": 0}]]
    },
    "PDF Manifest Ingested": {
      "main": [[{"node": "Extract Data + Red Flag Check", "type": "main", "index": 0}]]
    },
    "Extract Data + Red Flag Check": {
      "main": [[{"node": "Red Flags Detected?", "type": "main", "index": 0}]]
    },
    "Red Flags Detected?": {
      "main": [
        [{"node": "Alert Customs Broker", "type": "main", "index": 0}],
        [{"node": "File Customs Entry", "type": "main", "index": 0}]
      ]
    },
    "Alert Customs Broker": {
      "main": [[{"node": "Email Broker", "type": "main", "index": 0}]]
    },
    "Email Broker": {
      "main": [[{"node": "Create Review Task", "type": "main", "index": 0}]]
    },
    "File Customs Entry": {
      "main": [[{"node": "Log Filing", "type": "main", "index": 0}]]
    },
    "Log Filing": {
      "main": [[{"node": "Notify Consignee", "type": "main", "index": 0}]]
    },
    "Notify Consignee": {
      "main": [[{"node": "Record in System", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "description": "KlearNow.AI: Customs Broker Agent - Ingests PDF manifests, extracts data, checks for red flags, pauses for human review if needed, files customs entry"
}