vc-portfolio/n8n-workflows/narada-multiapp-agent-v2.json
{
  "name": "Narada: Web Redemption Multi-App Agent v2",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    requestSource: 'slack',\n    user: {\n      name: 'John Executive',\n      email: 'john@company.com',\n      role: 'VP Sales'\n    },\n    naturalLanguageRequest: 'Schedule a meeting with Acme Corp next week to discuss the Q1 proposal, and book me a flight to SF for the day before. Also send them a calendar invite and prepare a brief agenda.',\n    detectedApps: ['gmail', 'calendar', 'slack', 'expensify', 'salesforce']\n  }\n}];"
      },
      "name": "Natural Language Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const req = $input.first().json;\n\n// Narada's LLMCompiler parses natural language into action plan\nconst actionPlan = {\n  steps: [\n    {\n      step: 1,\n      app: 'salesforce',\n      action: 'lookup_contact',\n      params: { company: 'Acme Corp' },\n      reasoning: 'Find Acme Corp contact details in CRM'\n    },\n    {\n      step: 2,\n      app: 'calendar',\n      action: 'check_availability',\n      params: { user: req.user.email, timeframe: 'next_week' },\n      reasoning: 'Find available slots next week'\n    },\n    {\n      step: 3,\n      app: 'travel_booking',\n      action: 'search_flights',\n      params: { destination: 'SFO', date: 'day_before_meeting' },\n      reasoning: 'Book flight to SF day before meeting'\n    },\n    {\n      step: 4,\n      app: 'calendar',\n      action: 'create_event',\n      params: { title: 'Q1 Proposal Discussion - Acme Corp', attendees: ['acme@contact.com'] },\n      reasoning: 'Create calendar invite with prospect'\n    },\n    {\n      step: 5,\n      app: 'slack',\n      action: 'notify_user',\n      params: { message: 'Meeting scheduled, flight booked, agenda prepared' },\n      reasoning: 'Confirm completion to user'\n    }\n  ],\n  requiresApproval: true, // Multi-step, cross-app actions need approval\n  estimatedTime: '3 minutes'\n};\n\nreturn [{\n  json: {\n    ...req,\n    actionPlan,\n    complexity: 'high',\n    appsInvolved: actionPlan.steps.map(s => s.app).filter((v, i, a) => a.indexOf(v) === i)\n  }\n}];"
      },
      "name": "LLMCompiler: Parse to Action Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "Narada's secret sauce: LLMCompiler breaks natural language into executable steps across apps"
    },
    {
      "parameters": {
        "jsCode": "// Simulate Web Redemption - Narada navigates apps without APIs\nconst plan = $input.first().json;\n\nconst executionResults = plan.actionPlan.steps.map(step => {\n  const results = {\n    salesforce: () => ({\n      contactFound: true,\n      name: 'Jane Smith',\n      email: 'jane.smith@acmecorp.com',\n      title: 'VP Procurement',\n      lastContact: '2026-02-15'\n    }),\n    calendar: () => ({\n      availableSlots: ['2026-03-10T14:00:00', '2026-03-11T10:00:00', '2026-03-12T15:00:00'],\n      selectedSlot: '2026-03-10T14:00:00'\n    }),\n    travel_booking: () => ({\n      flights: [\n        { airline: 'United', flight: 'UA123', departure: '2026-03-09T08:00', arrival: '2026-03-09T11:30', price: 420 },\n        { airline: 'Delta', flight: 'DL456', departure: '2026-03-09T09:00', arrival: '2026-03-09T12:15', price: 380 }\n      ],\n      selected: { airline: 'United', flight: 'UA123' }\n    }),\n    slack: () => ({ notified: true })\n  };\n  \n  return {\n    step: step.step,\n    app: step.app,\n    action: step.action,\n    result: results[step.app] ? results[step.app]() : { success: true },\n    status: 'completed'\n  };\n});\n\nreturn [{\n  json: {\n    ...plan,\n    executionResults,\n    draftEvent: {\n      title: 'Q1 Proposal Discussion - Acme Corp',\n      date: '2026-03-10',\n      time: '14:00 PST',\n      attendees: ['jane.smith@acmecorp.com'],\n      location: 'Zoom (link TBD)',\n      agenda: '1. Q1 proposal review\\n2. Timeline discussion\\n3. Next steps'\n    },\n    draftFlight: {\n      airline: 'United',\n      flight: 'UA123',\n      date: '2026-03-09',\n      cost: 420\n    }\n  }\n}];"
      },
      "name": "Web Redemption: Execute Across Apps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "notes": "Narada's Web Redemption navigates web apps like a human, no APIs needed"
    },
    {
      "parameters": {
        "channel": "executive-assistant",
        "text": "=🤖 Multi-Step Workflow Ready for Approval\n\nRequest: {{ $json.naturalLanguageRequest.substring(0, 80) }}...\n\n📋 Action Plan ({{ $json.actionPlan.steps.length }} steps):\n{{ $json.actionPlan.steps.map(s => s.step + '. ' + s.app + ': ' + s.action).join('\\n') }}\n\n📅 Draft Meeting:\n• Date: {{ $json.draftEvent.date }} at {{ $json.draftEvent.time }}\n• With: {{ $json.executionResults[0].result.name }} ({{ $json.executionResults[0].result.email }})\n• Agenda: {{ $json.draftEvent.agenda.split('\\n')[0] }}\n\n✈️ Draft Flight:\n• {{ $json.draftFlight.airline }} {{ $json.draftFlight.flight }}\n• {{ $json.draftFlight.date }} - ${{ $json.draftFlight.cost }}\n\n⚡ Reply APPROVE to execute all steps",
        "options": {}
      },
      "name": "Slack Approval Request",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "fromEmail": "narada@company.com",
        "toEmail": "={{ $json.user.email }}",
        "subject": "=Draft Actions Ready - Acme Corp Meeting",
        "text": "=Hi {{ $json.user.name }},\n\nI've prepared the following actions based on your request:\n\n1. ✅ Found contact: Jane Smith (VP Procurement) at Acme Corp\n\n2. 📅 Proposed meeting: March 10, 2026 at 2:00 PM PST\n   Location: Zoom\n   Attendees: jane.smith@acmecorp.com\n\n3. ✈️ Suggested flight: United UA123\n   March 9, 8:00 AM - 11:30 AM PST\n   Cost: $420\n\n4. 📝 Draft agenda created\n\nApps accessed: Salesforce, Calendar, Travel Portal\n\nReply to this email with APPROVE to execute, or let me know what to change.",
        "options": {}
      },
      "name": "Email Summary",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "projectId": "=NARADA_WORKFLOWS",
        "name": "=Multi-App: Acme Corp Meeting Setup",
        "notes": "=User: {{ $json.user.name }}\nRequest: {{ $json.naturalLanguageRequest }}\nApps: {{ $json.appsInvolved.join(', ') }}\nStatus: Awaiting approval"
      },
      "name": "Log Workflow",
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [[{"node": "Natural Language Request", "type": "main", "index": 0}]]
    },
    "Natural Language Request": {
      "main": [[{"node": "LLMCompiler: Parse to Action Plan", "type": "main", "index": 0}]]
    },
    "LLMCompiler: Parse to Action Plan": {
      "main": [[{"node": "Web Redemption: Execute Across Apps", "type": "main", "index": 0}]]
    },
    "Web Redemption: Execute Across Apps": {
      "main": [[{"node": "Slack Approval Request", "type": "main", "index": 0}]]
    },
    "Slack Approval Request": {
      "main": [[{"node": "Email Summary", "type": "main", "index": 0}]]
    },
    "Email Summary": {
      "main": [[{"node": "Log Workflow", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "description": "Narada v2: LLMCompiler + Web Redemption - Parses natural language into multi-app workflows without API integrations"
}