vc-portfolio/n8n-workflows/template-lead-crm.json
{
  "name": "Template: Lead → CRM Automation",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Mock lead data\nreturn [\n  {\n    json: {\n      email: 'lead@example.com',\n      firstName: 'John',\n      lastName: 'Doe',\n      company: 'Acme Inc',\n      source: 'website_form'\n    }\n  }\n];"
      },
      "id": "mock-lead",
      "name": "Mock Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://person.clearbit.com/v2/combined/find",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            }
          ]
        }
      },
      "id": "clearbit-enrich",
      "name": "Enrich with Clearbit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "notes": "Requires Clearbit API key"
    },
    {
      "parameters": {
        "jsCode": "// Simple lead scoring\nconst lead = $input.first().json;\nlet score = 0;\n\n// Company size\nif (lead.company?.metrics?.employees) {\n  score += lead.company.metrics.employees > 50 ? 20 : 10;\n}\n\n// Domain type\nif (lead.email?.includes('@gmail') || lead.email?.includes('@yahoo')) {\n  score += 5;\n} else {\n  score += 15;\n}\n\n// Title/role\nconst title = lead.person?.employment?.title?.toLowerCase() || '';\nif (title.includes('ceo') || title.includes('cto') || title.includes('founder')) {\n  score += 30;\n} else if (title.includes('manager') || title.includes('director')) {\n  score += 20;\n}\n\nreturn [{\n  json: {\n    ...lead,\n    leadScore: score,\n    isQualified: score >= 40\n  }\n}];"
      },
      "id": "score-lead",
      "name": "Score Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.isQualified }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-qualified",
      "name": "Qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "firstname": "={{ $json.firstName }}",
          "lastname": "={{ $json.lastName }}",
          "company": "={{ $json.company }}",
          "hubspotscore": "={{ $json.leadScore }}"
        }
      },
      "id": "create-hubspot",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1250, 200],
      "notes": "Replace with your CRM"
    },
    {
      "parameters": {
        "channel": "={{ $credentials.slack.channel }}",
        "text": "🎯 New Qualified Lead!\n\nName: {{ $json.firstName }} {{ $json.lastName }}\nCompany: {{ $json.company }}\nScore: {{ $json.leadScore }}/100\nEmail: {{ $json.email }}",
        "attachments": []
      },
      "id": "slack-notify",
      "name": "Notify Sales Team (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1450, 200],
      "notes": "Replace with your communication tool"
    },
    {
      "parameters": {
        "sendOptions": {},
        "options": {},
        "fromEmail": "sales@company.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Welcome! Let's connect",
        "text": "Hi {{ $json.firstName }},\n\nThanks for your interest! I'd love to learn more about what you're building at {{ $json.company }}.\n\nCan we schedule a quick call this week?\n\nBest,\n[Your name]"
      },
      "id": "send-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'Lead processed',\n    email: $input.first().json.email,\n    qualified: false,\n    reason: 'Score below threshold'\n  }\n}];"
      },
      "id": "unqualified-action",
      "name": "Add to Nurture List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [[{"node": "Mock Lead Data", "type": "main", "index": 0}]]
    },
    "Mock Lead Data": {
      "main": [[{"node": "Enrich with Clearbit", "type": "main", "index": 0}]]
    },
    "Enrich with Clearbit": {
      "main": [[{"node": "Score Lead", "type": "main", "index": 0}]]
    },
    "Score Lead": {
      "main": [[{"node": "Qualified?", "type": "main", "index": 0}]]
    },
    "Qualified?": {
      "main": [
        [{"node": "Create HubSpot Contact", "type": "main", "index": 0}],
        [{"node": "Add to Nurture List", "type": "main", "index": 0}]
      ]
    },
    "Create HubSpot Contact": {
      "main": [[{"node": "Notify Sales Team (Slack)", "type": "main", "index": 0}]]
    },
    "Notify Sales Team (Slack)": {
      "main": [[{"node": "Send Welcome Email", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "description": "Enrich leads, score them, create CRM contacts, and notify sales team"
}