vc-portfolio/n8n-workflows/template-support-triage.json
{
  "name": "Template: Support Ticket Triage",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    from: 'angry@customer.com',\n    subject: 'URGENT: System is down!!!',\n    body: 'This is completely unacceptable. We have been down for 2 hours and no one has responded. This is costing us thousands of dollars. I need this fixed IMMEDIATELY or we are canceling our contract.',\n    receivedAt: new Date().toISOString()\n  }\n}];"
      },
      "name": "Mock Support Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\nconst body = email.body.toLowerCase();\nconst subject = email.subject.toLowerCase();\n\n// Priority scoring\nlet score = 0;\nconst keywords = {\n  critical: ['down', 'outage', 'broken', 'not working', 'emergency'],\n  urgent: ['urgent', 'asap', 'immediately', 'critical'],\n  angry: ['unacceptable', 'cancel', 'refund', 'escalate', 'manager']\n};\n\nif (keywords.critical.some(k => body.includes(k) || subject.includes(k))) score += 3;\nif (keywords.urgent.some(k => body.includes(k) || subject.includes(k))) score += 2;\nif (keywords.angry.some(k => body.includes(k))) score += 2;\n\nlet priority = 'LOW';\nif (score >= 5) priority = 'CRITICAL';\nelse if (score >= 3) priority = 'HIGH';\nelse if (score >= 1) priority = 'MEDIUM';\n\nreturn [{\n  json: {\n    ...email,\n    triageScore: score,\n    priority,\n    category: score >= 5 ? 'OUTAGE' : score >= 3 ? 'URGENT_BUG' : 'GENERAL'\n  }\n}];"
      },
      "name": "Analyze Urgency",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "={{ $json.priority }}",
            "typeValidation": "strict",
            "value": "CRITICAL"
          }
        }
      },
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "channel": "critical-alerts",
        "text": "=CRITICAL SUPPORT ALERT\n\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\nPriority: {{ $json.priority }}\nScore: {{ $json.triageScore }}/10\n\nAction: Page on-call engineer immediately",
        "options": {}
      },
      "name": "Page On-Call",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "channel": "support-triage",
        "text": "=New Support Ticket\n\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\nPriority: {{ $json.priority }}\nCategory: {{ $json.category }}\n\nAssigned to: {{ $json.priority === 'HIGH' ? 'Senior Agent' : 'General Queue' }}",
        "options": {}
      },
      "name": "Notify Support Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const ticket = $input.first().json;\nreturn [{\n  json: {\n    ticketId: 'SUP-' + Date.now(),\n    status: 'OPEN',\n    assignedTo: ticket.priority === 'CRITICAL' ? 'on-call-engineer' : ticket.priority === 'HIGH' ? 'senior-agent' : 'general-queue',\n    slaDeadline: new Date(Date.now() + (ticket.priority === 'CRITICAL' ? 15 : ticket.priority === 'HIGH' ? 60 : 240) * 60000).toISOString(),\n    ...ticket\n  }\n}];"
      },
      "name": "Create Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [[{"node": "Mock Support Email", "type": "main", "index": 0}]]
    },
    "Mock Support Email": {
      "main": [[{"node": "Analyze Urgency", "type": "main", "index": 0}]]
    },
    "Analyze Urgency": {
      "main": [[{"node": "Is Critical?", "type": "main", "index": 0}]]
    },
    "Is Critical?": {
      "main": [
        [{"node": "Page On-Call", "type": "main", "index": 0}],
        [{"node": "Notify Support Team", "type": "main", "index": 0}]
      ]
    },
    "Page On-Call": {
      "main": [[{"node": "Create Ticket", "type": "main", "index": 0}]]
    },
    "Notify Support Team": {
      "main": [[{"node": "Create Ticket", "type": "main", "index": 0}]]
    }
  },
  "meta": {
    "company": "Template",
    "useCase": "Support Triage",
    "version": "2.0",
    "nodes": 7,
    "author": "Mission Control",
    "status": "production-ready"
  }
}
