vc-portfolio/n8n-workflows/template-onboarding.json
{
  "name": "Template: Customer Onboarding",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    customerEmail: 'customer@example.com',\n    customerName: 'Jane Smith',\n    companyName: 'TechCorp',\n    plan: 'Pro',\n    signupDate: new Date().toISOString()\n  }\n}];"
      },
      "name": "Mock Customer Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "projectId": "=YOUR_PROJECT_ID",
        "name": "=Onboarding: {{ $json.companyName }}",
        "notes": "=New {{ $json.plan }} customer signed up. Complete onboarding checklist."
      },
      "name": "Create Onboarding Task",
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [650, 200],
      "notes": "Replace with your project tool (Asana/Monday/ClickUp)"
    },
    {
      "parameters": {
        "fromEmail": "success@company.com",
        "toEmail": "={{ $json.customerEmail }}",
        "subject": "=Welcome to [Product]! Let's get you started 🚀",
        "text": "=Hi {{ $json.customerName }},\n\nWelcome to [Product]! We're thrilled to have {{ $json.companyName }} on board.\n\nHere's what happens next:\n\n1. ✅ Your account is set up\n2. 📅 Schedule your onboarding call: [Calendly Link]\n3. 📚 Check out our getting started guide: [Link]\n4. 💬 Join our community Slack: [Link]\n\nQuestions? Just reply to this email.\n\nCheers,\n[Your Success Team]",
        "options": {}
      },
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "calendar": "primary",
        "summary": "=30-Day Check-in: {{ $json.companyName }}",
        "start": "={{ new Date(new Date().setDate(new Date().getDate() + 30)).toISOString() }}",
        "end": "={{ new Date(new Date().setDate(new Date().getDate() + 30)).toISOString() }}",
        "description": "=Check in with {{ $json.customerName }} ({{ $json.customerEmail }}) to see how their first month went.",
        "attendees": ["={{ $json.customerEmail }}"],
        "options": {}
      },
      "name": "Schedule 30-Day Check-in",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [850, 300],
      "notes": "Auto-schedules follow-up 30 days later"
    },
    {
      "parameters": {
        "channel": "customer-success",
        "text": "=🎉 New Customer Onboarding Started!\n\nCompany: {{ $json.companyName }}\nPlan: {{ $json.plan }}\nContact: {{ $json.customerName }} ({{ $json.customerEmail }})\n\nOnboarding task created and welcome email sent.",
        "options": {}
      },
      "name": "Notify CS Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'Onboarding initiated',\n    customer: $input.first().json.customerEmail,\n    actions: ['Task created', 'Welcome email sent', '30-day check-in scheduled']\n  }\n}];"
      },
      "name": "Log Activity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [[{"node": "Mock Customer Data", "type": "main", "index": 0}]]
    },
    "Mock Customer Data": {
      "main": [
        [{"node": "Create Onboarding Task", "type": "main", "index": 0}],
        [{"node": "Send Welcome Email", "type": "main", "index": 0}]
      ]
    },
    "Create Onboarding Task": {
      "main": [[{"node": "Schedule 30-Day Check-in", "type": "main", "index": 0}]]
    },
    "Send Welcome Email": {
      "main": [[{"node": "Schedule 30-Day Check-in", "type": "main", "index": 0}]]
    },
    "Schedule 30-Day Check-in": {
      "main": [[{"node": "Notify CS Team", "type": "main", "index": 0}]]
    },
    "Notify CS Team": {
      "main": [[{"node": "Log Activity", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "description": "Automated customer onboarding: task creation, welcome email, and follow-up scheduling"
}